{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="row">
      <div class="form-group">
   <form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <label>Movie Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="m_name" placeholder="Enter movie name"><br><br>
    <label>Movie Description:</label>&nbsp;<input type="text" name="m_desc" placeholder="Enter movie description"><br><br>
    <label>Release year:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="re_year" placeholder="Enter release year"><br><br>
    <label>Poster:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="file"  name="m_img" ><br><br>
       <label>Director:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="m_dir" placeholder="Enter movie director"><br><br>
    <input type="submit">
   </form>
  </div>
</div>
</div>
{% endblock %}